extends layout
block content
  section.padded-section.p-3.p-lg-5.d-column
    .my-auto.col-sm-8
      h2 
        span.fa.fa-edit
        | &nbsp; Editar Chef
        
      if errors
        ul
          for error in errors
            li.error-msg!= error.msg

      form#signup(method='POST' action='' )
        div.form-group
          label(for='email') Email:
          input#email.form-control(
            type='email', 
            placeholder='Ingresa tu email', 
            name='email', 
            required= true,
            value=(user === undefined ? '' : user.email)
            data-validation="email"
            data-validation-error-msg="Email ingresado no es valido"            
          )
        div.form-group
          label(for='first_name') Nombre:
          input#first_name.form-control(
            type='text', 
            placeholder='Ingresa tu nombre de pila', 
            name='first_name',
            required= true,          
            value=(user === undefined ? '' : user.first_name)
            data-validation="length"
            data-validation-length="min1"
            data-validation-error-msg="Debes ingresar tu nombre"                        
          )
          
        div.form-group
          label(for='last_name') Apellido:
          input#last_name.form-control(
            type='text', 
            placeholder='Ingresa tu apellido', 
            name='last_name', 
            required= true,          
            value=(user === undefined ? '' : user.last_name)
            data-validation="length"
            data-validation-length="min1"
            data-validation-error-msg="Debes ingresar tu apellido"                                    
          )

        div.form-group
          label(for='phone') Celular de contacto:
          input#phone.form-control(
            type='text', 
            placeholder='Ingresa tu celular', 
            name='phone', 
            required= true,          
            value=(user === undefined ? '' : user.phone)
            data-validation="number"
            data-validation-error-msg="Debes ingresar tu celular"                                    
          )
        
        div.form-group
          label(for='date_of_birth') Fecha de nacimiento:        
          #datetimepicker.input-group.date
            input#date_of_birth.form-control(
              type='text'
              placeholder='Ingresa tu fecha de nacimiento', 
              name='date_of_birth', 
              required= true,          
              value=(user === undefined ? '' : moment(user.date_of_birth).format("DD/MM/YYYY"))
              data-validation="birthdate" 
              data-validation-format="dd/mm/yyyy"
              data-validation-error-msg="Fecha de nacimiento no válida. El formato debe ser DD/MM/YYYY"                                      
            )
            div.input-group-addon(style= "background-color: #e1e1e1; border-radius: 2px;")
              span.fa.fa-calendar(style= "color: black; padding: 8px;")

        div.form-group
          label(for='description') Carta de presentación:
          textarea#description.form-control(
            placeholder='Cuentanos sobre ti y tu cocina. Requerímos entre 100 y 500 caracteres.',
            name="description",
            cols="30", 
            rows="10", 
            required= true,
            data-validation="length" 
            data-validation-length="100-500"
            data-validation-error-msg="Tu carta de presentación debe tener entre 100 y 500 caracteres"
          ) #{(user === undefined ? '' : user.description)}
        br
          
        button.btn.btn-primary(type='submit') Ingresar
        a(href="/chef/"+ _user.chef_id, style="padding-left: 15px;")
          button.btn Cancelar
        hr

block scripts
  script.
    $('#datetimepicker').datepicker({
      format: "dd/mm/yyyy",
      autoclose: true,
      orientation: "bottom auto",
      language: 'es'
    });
     $.validate({
      form: "#signup",
      modules: "date, security",
      onModulesLoaded : function() {
        var optionalConfig = {
          fontSize: '12pt',
          padding: '4px',
          display: 'flex',
          bad : 'Very bad',
          weak : 'Weak',
          good : 'Good',
          strong : 'Strong'
        };

        $('input[name="password"]').displayPasswordStrength(optionalConfig);
      }
    })
