extends layout

block content
  section.padded-section.p-3.p-lg-5.d-flex.d-column
    .my-auto.col-sm-8
      h2 
        span.fa.fa-address-card
        | &nbsp; #{title}
      
      p #[strong Email:] #{chef.user.main.email}
      p #[strong Nombre:] #{chef.user.main.first_name}
      p #[strong Apellido:] #{chef.user.main.last_name}
      p #[strong Teléfono:] #{chef.phone}
      p #[strong Fecha de nacimiento:] #{chef.date_of_birth_formatted}
      p #[strong Descripcion de estilo de cocina:] #{chef.description}
      hr
      div.btn-group
        a(href=chef.url+'/update')
          button.btn.btn-light Editar 
        a(href=chef.url+'/password_update') 
          button.btn.btn-light Cambiar contraseña 
