extends layout

block content
  section.padded-section.p-3.p-lg-5.d-flex.d-column
    .my-auto.col-sm-8
      h2 
        span.fa.fa-address-card
        | &nbsp; #{title}
      
      p #[strong Email:] #{chef.user.main.email}
      p #[strong Nombre:] #{chef.user.main.first_name}
      p #[strong Apellido:] #{chef.user.main.last_name}
      p #[strong Teléfono:] #{chef.phone}
      p #[strong Fecha de nacimiento:] #{chef.date_of_birth_formatted}
      p #[strong Descripcion de estilo de cocina:] #{chef.description}
      hr
      p
        a(href=chef.url+'/update') Editar 
      p        
        a(href=chef.url+'/password_update') Cambiar contraseña 
    //- if author_books.length
    //-   div(style='margin-left:20px;margin-top:20px')

    //-     h4 Books
        
    //-     dl
    //-     each book in author_books
    //-       dt 
    //-         a(href=book.url) #{book.title}
    //-       dd #{book.summary}

    //- else
    //-     p There are no books of this author in the library.

    //- hr
    //- p
    //-   a(href=chef.url+'/delete') Delete author 
      

