extends layout

block content
  section.padded-section.p-3.p-lg-5.d-flex.d-column
    .my-auto
      h2 Chef: #{chef.user.name}
      
      p #[strong Email:] #{chef.user.email}
      p #[strong Teléfono:] #{chef.phone}
      p #[strong Fecha de nacimiento:] #{chef.date_of_birth_formatted}
      p #[strong Descripcion de estilo de cocina:] #{chef.description}
    
    //- if author_books.length
    //-   div(style='margin-left:20px;margin-top:20px')

    //-     h4 Books
        
    //-     dl
    //-     each book in author_books
    //-       dt 
    //-         a(href=book.url) #{book.title}
    //-       dd #{book.summary}

    //- else
    //-     p There are no books of this author in the library.

    //- hr
    //- p
    //-   a(href=chef.url+'/delete') Delete author 
    //- p
    //-   a(href=chef.url+'/update') Update author 

