extends layout

block content
  section.padded-section.p-3.p-lg-5.d-flex.d-column
    .my-auto.col-sm-12
      h2 
        span.fa.fa-address-card
        | &nbsp; #{event_proposal.name}
      
      p #[strong Descripción:] #{event_proposal.description}
      p #[strong Utensillos necesarios:] #{event_proposal.needed_tools}
      p #[strong Requerimientos de espacio:] #{event_proposal.needed_space}
      p #[strong Máximos comensales:] #{event_proposal.max_servings}
      p #[strong Mínimos comensales:] #{event_proposal.min_servings}
      p #[strong Días de anticipación:] #{event_proposal.day_in_advance}
      p #[strong Observaciones:] #{event_proposal.observations}
      hr
      h3 Balance
      div
        div(style="display:flex;")
          p #[strong Precio por persona:]
          p.margin-l20 $#{event_proposal.unit_sellprice}
        div(style="display:flex;")
          p #[strong Ganancia por persona:]
          p.margin-l20 $#{event_proposal.unit_earnings}
      hr
      div.margin-b50
        if (event_proposal.appetizers)
          h4 Entradas:
          div.margin-b25.grid
            for appetizer in event_proposal.appetizers
              div.card(style="width:18rem;")
                div.card-body
                  h5.card-title(style="text-transform:inital;") #{appetizer.name}
                  .card-text
                    p.font-size-small #[strong Precio por persona:] $#{appetizer.sellprice_per_person}
                    p.font-size-small #[strong Ganancia por persona:] $#{appetizer.earnings_per_person}
                    p.font-size-small #[strong Tiempo previo al evento:] #{appetizer.time_prepare} minutos
                    p.font-size-small #[strong Tiempo en el evento:] #{appetizer.time_event} minutos
                    p.font-size-small #[strong Costo de insumos por persona:] $#{appetizer.ingredients_cost_per_person}                    
                    p.font-size-small #[strong Costo de preparacion por persona:] $#{appetizer.time_cost_per_person}
                  a.btn.btn-primary(href=appetizer.url) Detalle

        if (event_proposal.dishes)
          h4 Plato Principal:
          div.grid
            for dish in event_proposal.dishes
              div.card(style="width:18rem;")
                div.card-body
                  h5.card-title(style="text-transform:inital;") #{dish.name}
                  .card-text
                    p.font-size-small #[strong Precio por persona:] $#{ dish.sellprice_per_person}
                    p.font-size-small #[strong Ganancia por persona:] $#{ dish.earnings_per_person}
                    p.font-size-small #[strong Tiempo previo al evento:] #{ dish.time_prepare} minutos
                    p.font-size-small #[strong Tiempo en el evento:] #{ dish.time_event} minutos
                    p.font-size-small #[strong Costo de insumos por persona:] $#{dish.ingredients_cost_per_person}                    
                    p.font-size-small #[strong Costo de preparacion por persona:] $#{dish.time_cost_per_person}
                  a.btn.btn-primary(href=dish.url + "/update") Detalle
      br  
      .btn-group
        a(href=event_proposal.url+'/update') 
          button.btn.btn-light Editar 
        a(href=event_proposal.url+'/delete') 
          button.btn.btn-danger Borrar 
      

