extends layout

block content
  section.padded-section.p-3.p-lg-5.d-flex.d-column
    .my-auto.col-sm-12
      h2 
        span.fa.fa-address-card
        | &nbsp; #{event_proposal.name}
      
      p #[strong Descripción:] #{event_proposal.description}
      p #[strong Utensillos necesarios:] #{event_proposal.needed_tools}
      p #[strong Requerimientos de espacio:] #{event_proposal.needed_space}
      p #[strong Máximos comensales:] #{event_proposal.max_servings}
      p #[strong Mínimos comensales:] #{event_proposal.min_servings}
      p #[strong Días de anticipación:] #{event_proposal.day_in_advance}
      p #[strong Observaciones:] #{event_proposal.observations}
      hr
      div
        if (event_proposal.appetizers)
          h4 Entradas:
          div(style="display: inline-grid; grid-template-columns: auto auto auto; margin-bottom:25px;")
            for appetizer in event_proposal.appetizers
              div.card(style="width:18rem;")
                div.card-body
                  h5.card-title(style="text-transform:inital;") #{appetizer.name}
                  .card-text
                    p #[strong Precio por persona:] $#{appetizer.sellprice_per_person}
                    p #[strong Costo por persona:] $#{appetizer.cost_per_person}
                    p #[strong Ganancia por persona:] $#{appetizer.earnings_per_person}
                  a.btn.btn-primary(href=appetizer.url + "/update") Editar

        if (event_proposal.dishes)
          h4 Plato Principal:
          div(style="display: inline-grid; grid-template-columns: auto auto auto;")
            for dish in event_proposal.dishes
              div.card(style="width:18rem;")
                div.card-body
                  h5.card-title(style="text-transform:inital;") #{dish.name}
                  .card-text
                    p #[strong Precio por persona:] $#{dish.sellprice_per_person}
                    p #[strong Costo por persona:] $#{dish.cost_per_person}
                    p #[strong Ganancia por persona:] $#{dish.earnings_per_person}
                  a.btn.btn-primary(href=dish.url + "/update") Editar
      br
      hr
      br
      if (event_proposal.dishes && event_proposal.appetizers)
        h2 Balance
        br
        h4 Para cantidad mínima de comensales
        h6 Precio de venta total:
        p Calcular
        br
        h6 Costo total:
        p Calcular            
        br
        h6 Ganancia:
        p Calcular            
        br
        h4 Para cantidad máxima de comensales
        h6 Precio de venta total:
        p Calcular            
        br
        h6 Costo total:
        p Calcular            
        br
        h6 Ganancia:
        p Calcular            

        
      .btn-group
        a(href=event_proposal.url+'/update') 
          button.btn.btn-light Editar 
        a(href=event_proposal.url+'/delete') 
          button.btn.btn-danger Borrar 
      

