extends layout/layout
block content

  div
    h2 
      span.fa.fa-sign-in 
      | &nbsp; Login
      
    if errors
      ul
        for error in errors
          li.error-msg!= error.msg

    form(method='POST' action='' onsubmit="return checkForm()" )
      div.form-group
        label(for='email') Email:
        input#email.form-control(
          type='email', 
          placeholder='Ingresa tu email', 
          name='email', 
          required= true,
          value=(chef === undefined ? '' : chef.user.email)
        )
    
      div.form-group
        label(for='password') Password:
        input#password.form-control(
          type='password', 
          placeholder='Ingresa tu contraseña', 
          name='password',
          required= true,
        )
        div(style={margin: '3rem 0 0'})
          button.btn.btn-primary(type='submit', style={"margin-right": '30px'}) Login
          a.btn.btn-primary(href="/auth/facebook")
            span.fa.fa-facebook
            | &nbsp; Continuar con Facebook

      hr
      p No tenés cuenta? &nbsp;
        a(href="/signup/user") Sign up

  //- script.
  //-   function checkForm() {
  //-     //var email = document.querySelector(`#email`).value;
  //-     var pass = document.querySelector(`#password`).value;
  //-     var pass_con = document.querySelector(`#password_confirm`).value;
  //-     //regular expresion to validate email, extra security
  //-     //var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  //-     //catch sumbission
  //-     if (pass != pass_con){
  //-       alert('No coinciden las contraseñas')
  //-       return false;
  //-     }else{
  //-       return true;
  //-     }
        
  //-   }
