extends layout
block content
  section.padded-section.p-3.p-lg-5.d-column
    .my-auto.col-sm-8
      h2 
        span.fa.fa-sign-in 
        | &nbsp; Cambiar contraseña
        
      if errors
        ul
          for error in errors
            li.error-msg!= error.msg

      form#signup(method='POST' action='' )
        
        div.form-group
          label(for='original_password') Contraseña original:
          input#original_password.form-control(
            type='password', 
            placeholder='Ingresa tu antigua contraseña', 
            name='original_password',
            required= true
          )

        div.form-group
          label(for='password') Contraseña:
          input#password.form-control(
            type='password', 
            placeholder='Ingresa tu contraseña', 
            name='password',
            required= true,
            data-validation="strength",
            data-validation-error-msg="Contraseña no es lo suficientemente segura"    
          )
          
        div.form-group
          label(for='password_confirm') Confirmar contraseña:
          input#password_confirm.form-control(
            type='password', 
            placeholder='Vuelve a ingresar tu contraseña', 
            name='password_confirm',
            required= true,
            data-validation="confirmation",
            data-validation-confirm="password",
            data-validation-error-msg="Contraseña no coincide"                        
          )
          
        button.btn.btn-primary(type='submit') Ingresar

block scripts
  script.
    $.validate({
      form: "#signup",
      modules: "date, security",
      onModulesLoaded : function() {
        var optionalConfig = {
          fontSize: '12pt',
          padding: '4px',
          display: 'flex',
          bad : 'Very bad',
          weak : 'Weak',
          good : 'Good',
          strong : 'Strong'
        };

        $('input[name="password"]').displayPasswordStrength(optionalConfig);
      }
    })
