extends layout/layout
block content
  script.
    function displayStars(numStars) {
      for (var i = 0; i < 5; i++) {
        document.querySelector(`#star${i+1}`).classList.remove("checked");
      }
      for (var i = 0; i < numStars; i++) {
        document.querySelector(`#star${i+1}`).className += " checked";
      }
    }
    function setStars(num) {
      document.querySelector('#stars').value = num;
      displayStars(num);
    }
  h2 #{title}
  form(method='POST' action='')
    div.form-group
      label(for='name') Nombre:
      input#name.form-control(type='text', placeholder='Ingresa tu nombre', name='name', value=(review === undefined ? '' : review.name))
  
    div.form-group
      label(for='chef') Chef:
      select#chef_name.form-control(type='select' placeholder='Seleccione al chef' name='chef' required='true' )
        for chef in chef_list
          if review
            option(
              value=chef._id
              selected=(
                chef._id.toString()==review.chef._id
                || chef._id.toString()==review.chef
              ) ? 'selected' : false
            ) #{chef.name}
          else
            option(value= chef._id) #{chef.name}
    div.form-group
      label(for='dish') Plato:
      input#dish.form-control(type='text', placeholder='¿Qué comieron?', name='dish', value=(review === undefined ? '' : review.dish))
      
    div.form-group
      label(for='stars') Puntaje:
      div.col-md-12
        a(onclick='setStars(1)')
          span#star1.fa.fa-star
        a(onclick='setStars(2)')
          span#star2.fa.fa-star
        a(onclick='setStars(3)')
          span#star3.fa.fa-star
        a(onclick='setStars(4)')
          span#star4.fa.fa-star
        a(onclick='setStars(5)')
          span#star5.fa.fa-star   
        input#stars.form-control(type='text', name='stars', value=(review === undefined ? 0 : review.stars), style=("display:none")) 
      if review
        script.
          displayStars(#{review.stars})       
    div.form-group
      label(for='review_text') Reseña:
      textarea#review.form-control(placeholder='Ingresa tu reseña', name="review_text", cols="30", rows="10", value=(review === undefined ? '' : review.review_text))
        
    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li.error-msg!= error.msg

  
